.App {
    
}

.ttext {
    position: absolute;
    justify-content: space-between;
}

h1 {
    font-size: 40px;
    line-height: 40px;
}

p, h1 {
    margin: 20px 0;
    padding: 0;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: black;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */

@media screen and (max-width: 1024px) {
    
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */

@media screen and (max-width: 600px) {
    
}