@font-face {
  font-family: 'Agrandir';
  src: url('../src/fonts/Agrandir-GrandHeavy.otf') format('otf'),
        url('../src/fonts/Agrandir-Narrow.otf') format('otf'),
        url('../src/fonts/Agrandir-Regular.otf') format('otf'),
        url('../src/fonts/Agrandir-TextBold.otf') format('otf'),
        url('../src/fonts/Agrandir-ThinItalic.otf') format('otf'),
        url('../src/fonts/Agrandir-Tight.otf') format('otf'),
        url('../src/fonts/Agrandir-WideBlackItalic.otf') format('otf'),
        url('../src/fonts/Agrandir-WideLight.otf') format('otf'),
        url('../src/fonts/Agrandir-GrandLight.otf') format('otf');
}

body {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-family: 'Agrandir', sans-serif;
  width: 100vw;
  overflow-x: hidden;
  /* background-color: #00D54B; */
}

body::-webkit-scrollbar {
  display: none;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */

@media screen and (max-width: 1024px) {
    
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */

@media screen and (max-width: 600px) {
    
}